.box{
	width: 500px;
	padding: 60px;
	position: absolute;
	top: 59%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #222020;
	text-align: center;
}
.box h1{
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-weight: 400;
}
.box h4{
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-size: medium;
	font-weight: 200;
}
.box input[type = "text"],.box input[type = "password"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: rgb(255, 255, 255);
	border-radius: 24px;
	transition: 0.25s;
}

.box input[type ="text"]:focus,.box input[type ="password"]:focus{
	width: 280px;
	border-color: #2ecc71;
	color: rgb(255, 255, 255);
}

.box input[type = "submit"]{
		border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	outline: none;
	color: rgb(255, 255, 255);
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.box input[type = "submit"]:hover{
	background: #2ecc71;
}
#a{
    color: white;
}